In [6]:
import sys
sys.path.append("../src")
from data.data_loader import DataLoader
import yaml

## Load configuration

In [ ]:
with open('../config/config.yaml', 'r') as f:
    config = yaml.safe_load(f)
print("Configuration loaded:")
print(f"Target variable: {config['target']['column']}")
print(f"Weather features: {config['weather_features']}")

Configuration loaded:
Target variable: total_load_actual
Weather features: ['temp', 'humidity', 'wind_speed', 'pressure', 'rain_1h', 'clouds_all']

## Load energy dataset

In [8]:
loader = DataLoader(config)
df_energy = loader.load_energy_data()
df_energy

Loading energy dataset...
Missing values in target variable: 0
Energy data shape after cleaning: (1461, 1)
Date range: 2015-01-01 00:00:00 to 2018-12-31 00:00:00

            total_load_actual
time
2015-01-01            23897.0
2015-01-02            27251.0
2015-01-03            25111.0
2015-01-04            27113.0
2015-01-05            22559.0
...                       ...
2018-12-27            28532.0
2018-12-28            28638.0
2018-12-29            26637.0
2018-12-30            25264.0
2018-12-31            25897.0

[1461 rows x 1 columns]

## Load weather dataset

In [9]:
df_weather = loader.load_weather_data()
df_weather

Loading weather dataset...
Daily weather data shape: (1461, 9)
Date range: 2015-01-01 00:00:00 to 2018-12-31 00:00:00

,temp,temp_min,temp_max,humidity,wind_speed,rain_1h,rain_3h,snow_3h,clouds_all
dt_iso,,,,,,,,,
2015-01-01,3.78,-7.71,13.84,75.39,1.95,0.0,0.0,0.0,0.77
2015-01-02,4.75,-7.25,14.40,77.83,1.58,0.0,0.0,0.0,5.98
2015-01-03,5.67,-6.08,17.17,78.59,1.58,0.0,0.0,0.0,2.28
2015-01-04,6.48,-4.67,16.90,76.77,1.26,5.1,0.0,0.0,11.43
2015-01-05,5.88,-3.31,16.41,81.16,1.15,1.5,0.0,0.0,17.82
...,...,...,...,...,...,...,...,...,...
2018-12-27,7.55,-2.00,18.00,81.21,1.50,0.0,0.0,0.0,20.71
2018-12-28,7.92,-2.00,17.00,82.59,1.95,0.3,0.0,0.0,31.28
2018-12-29,8.08,-1.00,16.00,78.71,2.79,0.9,0.0,0.0,18.57
2018-12-30,7.01,-4.00,19.00,74.45,2.83,0.0,0.0,0.0,14.19
2018-12-31,7.29,-4.00,21.00,70.60,2.50,0.0,0.0,0.0,7.52

## Add temporal features to energy data

In [ ]:
df_energy = loader.create_temporal_features(df_energy)
df_energy

Creating temporal features...
Temporal features created.

            total_load_actual  is_holiday  is_weekend  season
time
2015-01-01            23897.0           1           0  winter
2015-01-02            27251.0           0           0  winter
2015-01-03            25111.0           0           1  winter
2015-01-04            27113.0           0           1  winter
2015-01-05            22559.0           0           0  winter
...                       ...         ...         ...     ...
2018-12-27            28532.0           0           0  winter
2018-12-28            28638.0           0           0  winter
2018-12-29            26637.0           0           1  winter
2018-12-30            25264.0           0           1  winter
2018-12-31            25897.0           0           0  winter

[1461 rows x 4 columns]

## Merge energy and weather data

In [ ]:
merged_df = loader.merge_datasets(df_energy, df_weather)
merged_df

Merging datasets...
Merged dataset shape: (1461, 13)
Date range: 2015-01-01 00:00:00 to 2018-12-31 00:00:00

,total_load_actual,is_holiday,is_weekend,season,temp,temp_min,temp_max,humidity,wind_speed,rain_1h,rain_3h,snow_3h,clouds_all
time,,,,,,,,,,,,,
2015-01-01,23897.0,1,0,winter,3.78,-7.71,13.84,75.39,1.95,0.0,0.0,0.0,0.77
2015-01-02,27251.0,0,0,winter,4.75,-7.25,14.40,77.83,1.58,0.0,0.0,0.0,5.98
2015-01-03,25111.0,0,1,winter,5.67,-6.08,17.17,78.59,1.58,0.0,0.0,0.0,2.28
2015-01-04,27113.0,0,1,winter,6.48,-4.67,16.90,76.77,1.26,5.1,0.0,0.0,11.43
2015-01-05,22559.0,0,0,winter,5.88,-3.31,16.41,81.16,1.15,1.5,0.0,0.0,17.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-27,28532.0,0,0,winter,7.55,-2.00,18.00,81.21,1.50,0.0,0.0,0.0,20.71
2018-12-28,28638.0,0,0,winter,7.92,-2.00,17.00,82.59,1.95,0.3,0.0,0.0,31.28
2018-12-29,26637.0,0,1,winter,8.08,-1.00,16.00,78.71,2.79,0.9,0.0,0.0,18.57
2018-12-30,25264.0,0,1,winter,7.01,-4.00,19.00,74.45,2.83,0.0,0.0,0.0,14.19
2018-12-31,25897.0,0,0,winter,7.29,-4.00,21.00,70.60,2.50,0.0,0.0,0.0,7.52